html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

}

.scrollHeader {
    background-image: none;
    background-color: #fff;
    color: rgb(30, 30, 30);

}

@font-face {
    font-family: "Muli";
    src: url("fonts/muli/Muli-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Catamaran";
    src: url("fonts/catamaran/Catamaran-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/lato/Lato-Light.ttf");
    font-weight: 200;
}

.topSect {
    background-image: url("../img/bg-pattern.png"), linear-gradient(to right, rgb(218, 36, 49) 0%, rgb(122, 67, 151) 100%);
    background-repeat: repeat;
}

.header {
    background-image: url("../img/bg-pattern.png"), linear-gradient(to right, rgb(218, 36, 49) 0%, rgb(122, 67, 151) 100%);
    background-repeat: repeat;
}

.cim {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #f0c828;
}

.cim:hover {
    color: #fff;
}

.cimScroll {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #1e1e1e;
}


.menuspan {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.navbar {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

h2,
h1 {
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
}

.nav-link {
    color: #111;
    font-size: 1rem;
    transition-duration: 300;
}

.nav-link:hover {
    color: #f0c828;
}


.btn-telos {
    border: 2px solid #fff;
    color: #fff;
    padding: 1.1rem;
    font-family: "Lato";
    font-size: 0.8rem;
}


.btn-telos:hover {

    border: 2px solid #fdcc52;
    color: #fff;
    background-color: #fdcc52;
    transition-duration: 300;
}

.teloszoveg {
    width: 90%;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Muli";

}

.discover,
.weLove {
    background-color: rgb(250, 200, 50);
}

.discover h1 {
    font-size: 3.7rem;
    font-weight: 100;
}

p {
    font-size: 1rem;
    font-family: 'Muli';
}

.storok {
    width: 8rem;
}

.imgTelo {
    max-width: 35vw;
}

.iconP {
    font-size: 4rem;
    color: maroon;
}

.stopWaiting {
    background: url("../img/bg-cta.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.stopH1 {
    font-size: 4em;
}

#heart {
    color: red;
}

.gplus {
    color: red;
    opacity: 0.9;
}

.gplus:hover {
    color: red;
    opacity: 1;

}

.iconSoc {
    opacity: 0.9;
    font-size: 5rem;
}

.iconSoc:hover {
    opacity: 1;
}

.vonal {
    border-bottom: 4px solid rgba(200, 200, 200, 0.9);

}

.footer {
    background-color: rgb(34, 34, 34);
}

.footerDiv {
    color: rgb(94, 94, 94);
}

.footerLink:hover {
    color: #fdcc52;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    .header {
        background-color: #fff;
        background: none;
    }

    .cim:hover {
        color: rgb(240, 200, 40);
    }

    .navbar {
        color: #696969;
    }

    .teloszoveg {
        margin-left: 5vw;
        font-size: 2rem;
        font-weight: 100;
        font-family: "Muli";
        text-align: center;
        margin-top: 30vh;
    }

    .btn-telos {
        max-width: 60vw;
    }

    .menuSpan {
        border: 1px solid #888;
        border-radius: 5%;
        padding: 0 10px;
        font-size: 1em;

    }

    .discover {
        display: flex;
        flex-direction: column;

    }

    .googlePlay {
        padding-top: 50px;
    }

    .storok {
        width: 40%;
    }

    .imgTelo {
        max-width: 60vw;
    }

    .stopH1 {
        font-size: 3em;
    }

    .p__btn1 {
        text-align: center;
        padding-top: 30px;

    }

    btn {
        padding: 1.4rem
    }

    .navbar-toggler {
        width: 8rem;
    }
}